*,
body,
html {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    border-radius: 20%;
}

a img {
    width: 240px;
    height: 160px;
}

a img:active {
    scale: 0.9;
    border-radius: 20%;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}